@charset "UTF-1" ;
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul,
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
}
img{
    max-width: 100%;
}
.container{
    margin: 0 auto;
    width: 1200px;
    height: 1400px;
    text-align: center;
    display: flex;
    flex-direction: column;
  background: url(../images/sub10.jpg) center no-repeat;
    background-size: cover;
   font-family: "Berkshire Swash", stylish;
            }

/*---header start---*/
header{
    width: 100%;
    height: 200px;
/*     box-shadow: 0px -3px 15px 2px;*/
    background-color: #f9f4f2;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-content: center;
      }
.logo{
    position: absolute;
    top: 2%;
    left: 36%;
    width:25%;
    height:auto;
     }
.logo img{
    max-width: 100%;
    max-height: 100%;
}
.header-container {
  width: 100%;
  margin: auto; 
  display: flex;
flex-direction: column; 
  align-items: center;
}

.main-menu {
  width: 100%;
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 13%; 
  overflow: visible;
   max-width: 700px; 
    z-index: 10;
}

.main-menu a {
   width: 100%;
    text-align: center;
    padding: .87em 1em;
    display: block;
    color: #222;
    font-weight: bold;
    text-shadow: 2px 2px 4px #fff;
        }

.main-menu a:hover {
      color: #c14400;
    font-weight: bold;
}
.main-menu li{
    flex:0 0 1;
}
/*====================================
  DROPDOWN MENU STYLES
====================================*/
  
/* The hidden-at-first drop menus */
.drop-menu {
  display: flex;
  flex-direction: column; /* This never changes */
  align-items: center;
  width: 100%; /* Allows sub buttons to stretch across button width in main-menu*/
  transition: max-height .4s, opacity .3s;
  max-height: 0;
  opacity: 0;
  overflow: hidden; /* Keeps links in drop menu from displaying until height is large enough */
}


.drop-menu > .menu-button {
  height: 100%;
  transition: transform .4s;
  transform: translateY(-300%);
  background-color: bisque; /* Makes the menu effects visible on close */ 
}

/* Makes for easy identifying when the drop menu is open */
.dropdown-wrapper:hover > .menu-button {
  color: #c14400;
}

/* The dropdown-wrapper wraps both the .main-menu button and drop down menu */
/* Expands .drop-menu to children height, not setting an expicit height allows variable # of buttons */
.dropdown-wrapper:hover .drop-menu{
  max-height: 300px;  
  opacity: 1;
}

/* The specifity keeps styles from affecting main menu button */
.dropdown-wrapper:hover > .drop-menu .menu-button {
  transform: translateY(0%); 
}

/*----#contents start--*/
#contents{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1100px;
    justify-content: center;
    align-content: center;
    background-size: cover;
               }

h1 {
  position: relative;
    top: 2%;
  margin-bottom: 4%;
  font-family:  "Berkshire Swash", stylish;
  font-size: 2rem;
  text-transform: uppercase;
  color: #424242;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
    margin-bottom: 1%;
}
.gallery-wrap1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
     margin-bottom: 1%;
}
.gallery-wrap2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
   }
.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
   }
.item:hover {
  flex: 7;
}
.item-1 {
  background-image: url("../images/fg1.jpg");
}
.item-2 {
  background-image: url("../images/fg2.jpg");
}
.item-3 {
  background-image: url("../images/fg3.jpg");
}
.item-4 {
  background-image: url("../images/fg4.jpg");
}
.item-5 {
  background-image: url("../images/fg5.jpg");
}
.item-6 {
  background-image: url("../images/fg6.jpg");
}
.item-7 {
  background-image: url("../images/fg7.jpg");
}
.item-8 {
  background-image: url("../images/fg8.jpg");
}
.item-9 {
  background-image: url("../images/fg9.jpg");
}
.item-10{
  background-image: url("../images/fg10.jpg");
}
.item-11 {
  background-image: url("../images/fg11.jpg");
}
.item-12 {
  background-image: url("../images/fg12.jpg");
}
.item-13 {
  background-image: url("../images/fg13.jpg");
}
.item-14 {
  background-image: url("../images/fg14.jpg");
}
.item-15 {
  background-image: url("../images/fg15.jpg");
}
/*
.item-16 {
  background-image: url("../images/fg16.jpg");
}
*/
/*---footer start---*/
    
footer{
    width: 100%;
    height: 100px;
     line-height: 2em;
    font-size: .875rem;
    text-align: center;
   }


/*====================================
  MEDIA QUERIES
====================================*/

@media (min-width: 550px) {
  
  
    /*====================================
      DROP-MENU EFFECTS (LARGER SCREENS)
    ====================================*/
    /* Resets dropdown styles to not affect the effects. Overflow still set to hidden allows for menu effects like sliding in */
      .effect {
        transition: max-height 0s;
        opacity: 1;
        background: transparent;
      }
      .effect .menu-button {
        transform: translateY(0%); 
      }


      .scissor .menu-button{
        transform: translateX(-100%);
      }
      /* Selects every other menu button to slide the opposite way */
      .scissor .menu-button:nth-child(2n+1) {
        transform: translateX(100%);
      }
      .dropdown-wrapper:hover .scissor .menu-button {
        transform: translateX(0%);
      }


      .fade-in .menu-button {
        transition: opacity .5s;
        opacity: 0;
      }
      .dropdown-wrapper:hover .fade-in .menu-button {
        opacity: 1;
      }
      


  .header-container {
    width: 90%;
  }

  .header-container {
    height: 200px;
    justify-content: space-between; /* Pushes logo to top, nav bar all the way down */
  } 
  
  .main-menu {   
    flex-direction: row; /* Horizontal main menu buttons */
    align-items: flex-start; /* Makes the top of the 'dropdown-wrapper' div stay flush with button top because it's aligned on the cross-axis */
    height: 48px; /* Setting the height allows the dropdown outside of it's parent's bounds, therefore not compensated for by the flex. */
    margin: 0;
  }
    
  .main-menu > .menu-button {
    width: 23%;
    max-width: 150px;
  }

}

@media (min-width: 850px) {

  .header-container {
    flex-direction: row; 
    justify-content: space-around; 
    height: 160px;
	} 

  .main-menu {
 		width: 60%;
      margin-top: 15%;
  	justify-content: space-between;
  }

  .logo {
    margin: 0;
  }

}
