@charset "UTF-1";

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: 1400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: url(../images/sub10.jpg) center no-repeat;
    background-size: cover;
    font-family: "Berkshire Swash", stylish;
   }

/*---header start---*/
header {
    width: 100%;
    height: 200px;
    background-color: #f9f4f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   }

.logo {
    position: absolute;
    top: 2%;
    left: 38%;
    width: 25%;
    height: auto;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.header-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     overflow: visible;
    max-width: 700px;
    z-index: 10;
    position: absolute;
    top: 60px;
     }

.main-menu a {
    width: 100%;
    text-align: center;
    padding: .87em 1em;
    display: block;
    color: #222;
    font-weight: bold;
    text-shadow: 2px 2px 4px #fff;
  }

.main-menu a:hover {
    color: #c14400;
    font-weight: bold;
}

.main-menu li {
    flex: 0 0 1;
}

/*====================================
  DROPDOWN MENU STYLES
====================================*/

/* The hidden-at-first drop menus */
.drop-menu {
    display: flex;
    flex-direction: column;
    /* This never changes */
    align-items: center;
    width: 100%;
    /* Allows sub buttons to stretch across button width in main-menu*/
    transition: max-height .4s, opacity .3s;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /* Keeps links in drop menu from displaying until height is large enough */
}


.drop-menu > .menu-button {
    height: 100%;
    transition: transform .4s;
    transform: translateY(-300%);
    background-color: bisque;
    /* Makes the menu effects visible on close */
}

/* Makes for easy identifying when the drop menu is open */
.dropdown-wrapper:hover > .menu-button {
    color: #c14400;
}

/* The dropdown-wrapper wraps both the .main-menu button and drop down menu */
/* Expands .drop-menu to children height, not setting an expicit height allows variable # of buttons */
.dropdown-wrapper:hover .drop-menu {
    max-height: 300px;
    opacity: 1;
}

/* The specifity keeps styles from affecting main menu button */
.dropdown-wrapper:hover > .drop-menu .menu-button {
    transform: translateY(0%);
}

/*----#contents start--*/
#contents {
    /*    flex: 1;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    position: relative;
    justify-content: center;
    align-content: center;
    /*  background: url(../images/sub8.jpg) center no-repeat;*/
    background-size: cover;
      }

.textBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 450px;
}

.textBox .text_title {
    background: #faf4ea;
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 40%;
    text-shadow: 2px 2px 4px #fff;
}

.textBox1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.text {
    flex: 0 0 71%;
    line-height: 1.8rem;
    padding: 2%;
    text-align: left;
}

.text h3 {
    text-align: left;
    padding-bottom: 1%;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #fff;
}

.text_img {
    flex: 0 0 25%;
}

/*----.slide start--*/

#slideshow {
    flex: 0 0 1;
    position: relative;
    top: -13%;
    left: 0;
    width: 98.58;
    height: 450px;
    overflow: hidden;
    border: 8px solid #f7e3cc;
}


#slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 autoa;
    opacity: 0;
    -webkit-transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: 3s, 10s;
    -moz-transition-property: opacity, -moz-transform;
    -moz-transition-duration: 3s, 10s;
    -ms-transition-property: opacity, -ms-transform;
    -ms-transition-duration: 3s, 10s;
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: 3s, 10s;
    transition-property: opacity, transform;
    transition-duration: 3s, 10s;
}

/**
 * We change the point of origin using four corners so images do not move in the same direction. 
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

#slideshow img {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
}

#slideshow :nth-child(2n+1) {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}

#slideshow :nth-child(3n+1) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

#slideshow :nth-child(4n+1) {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
}

/**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one. 
 * The rule below moves all images past the second one down the stack. 
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

#slideshow .fx:first-child + img ~ img {
    z-index: -1;
}

/**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

#slideshow .fx {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.slide_logo {
    width: 30%;
    height: 12%;
    background: #fff;
    border-radius: 3%;
    position: absolute;
    top: 50%;
    left: 10%;
    opacity: .6;

}

.slide_logo h3 {
    position: absolute;
    top: 10%;
    left: 5%;
    color: #000;
    font-family: "Berkshire Swash", jua;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;

}

.slide_logo h1 {
    position: absolute;
    top: 50%;
    left: 33%;
    color: #000;
    font-family: 굴림;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;
}

/*------------ad start---*/
.adBox {
    position: absolute;
    top: 88%;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.ad_img {
    flex: 1;
    height: 50px;
    padding-top: 2%;
}

.ad-text {
    flex: 1;
    height: 150px;
    line-height: 2em;
}

.ad-text span {
    font-weight: bold;
}

/*---footer start---*/
footer {
    /*    background: url(../images/sub7.jpg);*/
    width: 100%;
    height: 80px;
    line-height: 2em;
    position: absolute;
    top: 1320px;
    left: 0%;
    font-size: .875rem;
}

/*====================================
  MEDIA QUERIES
====================================*/

/*---mediaquary 1024 start ----*/
@media (max-width: 1024px) {

    .container {
        margin: 0 auto;
        width: 1024px;
        height: 1600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: url(../images/sub10.jpg);
        font-family: "Berkshire Swash", stylish;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width: 99.5%;
        position: relative;
        top: 20px;
    }

    .main-menu {
        width: 60%;
        position: absolute;
        top: 20px;
        justify-content: space-between;


    }

    .logo {
        margin: 0;
        position: absolute;
        top: 50px;
        left: 35%;
    }

    /*----#contents start--*/
    #contents {
        /*    flex: 1;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        justify-content: center;
        align-content: center;
        /*  background: url(../images/sub8.jpg) center no-repeat;*/
        background-size: cover;
    }

    .textBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 550px;
    }

    .textBox .text_title {
        background: #faf4ea;
        width: 20%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1%;
        margin-left: 40%;
        text-shadow: 2px 2px 4px #fff;
    }

    .textBox1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .text {
        flex: 0 0 71%;
        line-height: 1.8rem;
        padding: 2%;
        text-align: left;
        font-size: 1.4em;
    }

    .text h3 {
        text-align: left;
        padding-bottom: 1%;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #fff;
    }

    .text_img {
        flex: 0 0 25%;
    }

    /*----.slide start--*/

    #slideshow {
        flex: 0 0 1;
        position: relative;
        top: -10%;
        left: 0;
        width: 98.58;
        height: 500px;
        overflow: hidden;
        border: 8px solid #f7e3cc;
    }


    #slideshow img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 autoa;
        /*
    margin-left:-400px;
    margin-top:-200px;
*/
        opacity: 0;
        -webkit-transition-property: opacity, -webkit-transform;
        -webkit-transition-duration: 3s, 10s;
        -moz-transition-property: opacity, -moz-transform;
        -moz-transition-duration: 3s, 10s;
        -ms-transition-property: opacity, -ms-transform;
        -ms-transition-duration: 3s, 10s;
        -o-transition-property: opacity, -o-transform;
        -o-transition-duration: 3s, 10s;
        transition-property: opacity, transform;
        transition-duration: 3s, 10s;
    }

    /**
 * We change the point of origin using four corners so images do not move in the same direction.
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

    #slideshow img {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    #slideshow :nth-child(2n+1) {
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
    }

    #slideshow :nth-child(3n+1) {
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
    }

    #slideshow :nth-child(4n+1) {
        -webkit-transform-origin: bottom right;
        -moz-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        -o-transform-origin: bottom right;
        transform-origin: bottom right;
    }

    /**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one.
 * The rule below moves all images past the second one down the stack.
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

    #slideshow .fx:first-child + img ~ img {
        z-index: -1;
    }

    /**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

    #slideshow .fx {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .slide_logo {
        width: 40%;
        height: 12%;
        background: #fff;
        border-radius: 3%;
        position: absolute;
        top: 60%;
        left: 10%;
        opacity: .6;

    }

    .slide_logo h3 {
        position: absolute;
        top: 10%;
        left: 5%;
        color: #000;
        font-family: "Berkshire Swash", jua;
        font-size: 2rem;
        text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;

    }

    .slide_logo h1 {
        position: absolute;
        top: 50%;
        left: 33%;
        color: #000;
        font-family: 굴림;
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;
    }

    /*------------ad start---*/
    .adBox {
        position: absolute;
        top: 99%;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .ad_img {
        flex: 1;
        height: 50px;
        padding-top: 2%;
    }

    .ad-text {
        flex: 1;
        height: 150px;
        line-height: 2em;
        position: absolute;
        top: 75px;
        left: 50%;
        margin-left: -17%;
    }

    .ad-text span {
        font-weight: bold;
    }

    /*---footer start---*/
    footer {
          background: url(../images/sub7.jpg);
        width: 100%;
        height: 80px;
        line-height: 2em;
        position: absolute;
        top: 1500px;
        left: 0%;
        font-size: .875rem;
    }

}


@media (max-width: 768px) {
    .container {
        margin: 0;
        width: 768px;
        height: 1400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: url(../images/sub10.jpg) center no-repeat;
        background-size: cover;
        font-family: "Berkshire Swash", stylish;
           }

    header {
        position: relative;
          }

    .header-container {
        flex-direction: row;
        justify-content: space-around;
        height: 160px;
        width: 100%;
    }

    .main-menu {
        width: 60%;
        height: auto;
        margin-top: 10%;
        justify-content: space-between;
    }

    .logo {
        position: absolute;
        left: 40%;
    }

    /*----#contents start--*/
    #contents {
        /*    flex: 1;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1000px;
        position: relative;
        justify-content: center;
        align-content: center;
        background-size: cover;
         }

    .textBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 450px;
    }

    .textBox .text_title {
        background: #faf4ea;
        width: 20%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1%;
        margin-left: 40%;
        text-shadow: 2px 2px 4px #fff;
    }

    .textBox1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .text {
        flex: 0 0 71%;
        line-height: 1.8rem;
        padding: 2%;
        text-align: left;
        font-size: 1em;
    }

    .text h3 {
        text-align: left;
        padding-bottom: 1%;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #fff;
    }

    .text_img {
        flex: 0 0 25%;
    }

    /*----.slide start--*/

    #slideshow {
        flex: 0 0 1;
        position: relative;
        top:6%;
        left: 0;
        width: 98.58;
        height: 550px;
        overflow: hidden;
        border: 8px solid #f7e3cc;
    }

    #slideshow img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 autoa;
        opacity: 0;
        -webkit-transition-property: opacity, -webkit-transform;
        -webkit-transition-duration: 3s, 10s;
        -moz-transition-property: opacity, -moz-transform;
        -moz-transition-duration: 3s, 10s;
        -ms-transition-property: opacity, -ms-transform;
        -ms-transition-duration: 3s, 10s;
        -o-transition-property: opacity, -o-transform;
        -o-transition-duration: 3s, 10s;
        transition-property: opacity, transform;
        transition-duration: 3s, 10s;
    }

    /**
 * We change the point of origin using four corners so images do not move in the same direction.
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

    #slideshow img {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    #slideshow :nth-child(2n+1) {
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
    }

    #slideshow :nth-child(3n+1) {
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
    }

    #slideshow :nth-child(4n+1) {
        -webkit-transform-origin: bottom right;
        -moz-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        -o-transform-origin: bottom right;
        transform-origin: bottom right;
    }

    /**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one.
 * The rule below moves all images past the second one down the stack.
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

    #slideshow .fx:first-child + img ~ img {
        z-index: -1;
    }

    /**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

    #slideshow .fx {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .slide_logo {
        width: 45%;
        height: 12%;
        background: #fff;
        border-radius: 3%;
        position: absolute;
        top: 60%;
        left: 10%;
        opacity: .6;

    }

    .slide_logo h3 {
        position: absolute;
        top: 10%;
        left: 5%;
        color: #000;
        font-family: "Berkshire Swash", jua;
        font-size: 2rem;
        text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;

    }

    .slide_logo h1 {
        position: absolute;
        top: 50%;
        left: 33%;
        color: #000;
        font-family: 굴림;
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;
    }

    /*------------ad start---*/
    .adBox {
/*
        position: absolute;
        top: 1500px;
*/
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
           }

    .ad_img {
        flex: 1;
        height: 50px;
       position: absolute;
        top: 50px;
        left: 30%;
    }

    .ad-text {
        flex: 1;
        height: 150px;
        line-height: 2em;
        position: absolute;
        top: 145px;
        left: 38%;
        margin-left: -17%;
    }

    .ad-text span {
        font-weight: bold;
    }

    /*---footer start---*/
    footer {
          background-color: #f6ece1;
        width: 768px;
        height: 200px;
        line-height: 2em;
        position: relative;
        top: 200px;
        left: 0%;
        font-size: .875rem;

    }
    footer p {
        position: absolute;
        left: 30%;
        top: 20%;
    }
}

/*----360 mediaquery start----*/

@media (max-width: 360px) {

    .container {
        margin: 0;
        width: 360px;
        height:auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        background: url(../images/sub10.jpg) center no-repeat;
        background-size: cover;
        font-family: "Berkshire Swash", stylish;

           }
       header {
         height: 100px;
        width: 360px;
        position: relative;
              }

    .header-container {
        flex-direction: row;
        justify-content: space-around;
        height: auto;;
        width: 100%;
        margin-top: 0px;
            }

    .main-menu {
        width: 60%;
        height: auto;
        margin-top: 10%;
        margin-left: -10px;
        justify-content: space-between;
            }
    .main-menu a{
        font-size: .875rem;
    }
    .logo {
        position: absolute;
        left: 35%;
        top: 25%;
    }



/*----#contents start--*/
    #contents {
        /*    flex: 1;*/
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: relative;
        top: px;
        justify-content: center;
        align-content: center;
        background-size: cover;
             }

    .textBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 550px;
    }

    .textBox .text_title {
        background: #faf4ea;
        width: 20%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
         margin-left: 40%;
        text-shadow: 2px 2px 4px #fff;
        margin-top: 20px;
          }

    .textBox1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
          }

    .text {
       flex: 1;
        line-height: 1rem;
        padding: 2%;
        text-align: left;
        font-size: .875rem;
    }

    .text h3 {
        text-align: left;
        padding-bottom: 5%;
        font-size: 1rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #fff;
    }

    .text_img {
       display: none;
    }

    /*----.slide start--*/

    #slideshow {
        flex: 0 0 1;
        position: relative;
        top: -130px;
        left: 0;
        width: 98.58;
        height: 350px;;
        overflow: hidden;
        border: 8px solid #f7e3cc;
    }

    #slideshow img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0 autoa;
        opacity: 0;
        -webkit-transition-property: opacity, -webkit-transform;
        -webkit-transition-duration: 3s, 10s;
        -moz-transition-property: opacity, -moz-transform;
        -moz-transition-duration: 3s, 10s;
        -ms-transition-property: opacity, -ms-transform;
        -ms-transition-duration: 3s, 10s;
        -o-transition-property: opacity, -o-transform;
        -o-transition-duration: 3s, 10s;
        transition-property: opacity, transform;
        transition-duration: 3s, 10s;
    }

    /**
 * We change the point of origin using four corners so images do not move in the same direction.
 * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
 */

    #slideshow img {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    #slideshow :nth-child(2n+1) {
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
    }

    #slideshow :nth-child(3n+1) {
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left;
    }

    #slideshow :nth-child(4n+1) {
        -webkit-transform-origin: bottom right;
        -moz-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        -o-transform-origin: bottom right;
        transform-origin: bottom right;
    }

    /**
 * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one.
 * The rule below moves all images past the second one down the stack.
 * This is because the second image needs to show on top of the first one when it transitions in.
 */

    #slideshow .fx:first-child + img ~ img {
        z-index: -1;
    }

    /**
 * Because images are styled with a different point of origin, the following rule will create different panning effects.
 */

    #slideshow .fx {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .slide_logo {
        width: 50%;
        height: 5%;
        background: #fff;
        border-radius: 3%;
        position: absolute;
        top: 50%;
        left: 10%;
        opacity: .6;

    }

    .slide_logo h3 {
        position: absolute;
        top: 10%;
        left: 5%;
        color: #000;
        font-family: "Berkshire Swash", jua;
        font-size: 1rem;
        text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;

    }

    .slide_logo h1 {
        position: absolute;
        top: 50%;
        left: 33%;
        color: #000;
        font-family: 굴림;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #fff 3px 3px 5px #ccc;
    }

    /*------------ad start---*/
    .adBox {
/*
        position: absolute;
        top: 1500px;
*/
        width:360px;
        height: auto;
        display: flex;
        flex-direction: column;
           }

    .ad_img {
        flex: 1;
        height: 10px;
        position: absolute;
        top: -120px;
        width: 43%;
    }
    .ad_img img{
        max-width: 80%;
        max-height: 30px;

    }
    .ad-text {
        flex: 1;
        height: 150px;
        font-size: .875rem;
        line-height: 2em;
        position: absolute;
        top: -70px;
        left: 17%;
           }

    .ad-text span {
        font-weight: bold;
        font-size: 1rem;
           }

    /*---footer start---*/
    footer {
          width: 100%;
        height: 100px;;
        line-height: 2em;
        position: relative;
        top: -0px;
        font-size: .875rem;
                 }

    footer p {
        width: 360px;
        position: absolute;
        left: -1%;
        font-size: .8rem;
        }
}


